<!DOCTYPE html>
<html>
  <head>
    <title>GroupProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigate">
        <ul class="title-area">
          <li class="name">
            <h1><a class="company-name" href="/"> Between the Covers </a></h1>
            </h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="active">
              <% if user_signed_in? %>
              <li class="picture" style='background: #B22222;'>
                  <%= image_tag current_user.profile_photo %>
              </li>
              <li>
                <%= link_to "Edit Account", edit_user_registration_path, style: 'background: #B22222;' %>
              </li>
                <li>
                  <% if current_user.admin? %>
                  <li>
                    <%= link_to "All Books", users_path, style: 'background: #B22222;' %>
                    <%= link_to "All Reviews", reviews_path, style: 'background: #B22222;' %>
                  </li>
                  <% end %>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, style: 'background: #B22222;' %>
                </li>
              <% else %>
                <li class="nav-button">
                  <%= link_to 'Sign In', new_user_session_path, style: 'background: #B22222;' %>
                </li>
                <li class="nav-button">
                  <%= link_to 'Sign Up', new_user_registration_path, style: 'background: #B22222;' %>
                </li>
              <% end %>
            </li>
          </ul>
          <ul>
            <li class="nav-button"><%= link_to 'Books', books_path, style: 'background: #B22222;' %></li>
              <section class="top-bar-section">
                <ul class="center">
                  <div class="search-bar">
                    <%= form_tag books_path, method: 'get' do %>
                      <li style="background: #b22222;">
                        <%= text_field_tag :search, params[:search] %>
                      </li>
                      <li style="background: #b22222;"f>
                        <%= submit_tag "Search", title: nil %>
                      </li>
                  <% end %>
                  </div>
                </div>
              </div>
            </ul>

          </section>
      </nav>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <br><br>
    <div class="row">
      <div class="small-6 large-centered columns">
        <div id='react-app'></div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
