<!DOCTYPE html>
<html>
  <head>
    <title>GroupProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash.any? %>
      <div class="flash">
        <div class="container">
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
